.case-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.case-item:hover .case-description {
  max-height: 200px;
  opacity: 1;
}
